<footer>
    <div >
       <!-- <a href='linkedin.com/in/rvishrm/'> -->
        <a href='http://linkedin.com/in/rvishrm/''>
            <i class="fa fa-linkedin" ></i>
        </a>
       <a href='https://twitter.com/rvishrm'>
            <i class="fa fa-twitter" ></i>
        </a>
       <!-- use of http is must -->
        <a href='https://www.instagram.com/i_m_rs_38/'>
            <i class="fa fa-instagram"></i>
        </a>   
    </div>
    <div>
        copyright &copy; rvishrm 2020
    </div>
</footer>