<div class="col-xs-12 col-md-6">
    <form action="/" method="POST">
        <div class="form-group">
            <label for="fname">FirstName:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Lname">LastName:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="rollno">ROll No:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="tel">Phone:</label>
            <input type="tel" class="form-control">
        </div>
        <div>
            <button class="btn btn-success">
                Register
            </button>
        </div>
        <br>
        <div class='form-group'>
            <p> or already have an account?</p>
            <button class="btn btn-success">
                Login
            </button>
        </div>
    </form>
</div>