<div class="col-xs-12 col-md-6">
    <form >
        <div class="form-group">
            <label for="fname">FirstName<span style="color: red;">*</span>:</label>
            <input type="text" class="form-control" name='fname' maxlength="20">
        </div>
        <div class="form-group">
            <label for="Lname">LastName<span style="color: red;">*</span>:</label>
            <input type="text" class="form-control" name='lname' maxlength="20">
        </div>
        <div class="form-group">
            <label for="rollno">ROll No<span style="color: red;">*</span>:</label>
            <input type="text" class="form-control" name='rollno' maxlength="20">
        </div>
        <div class="form-group">
            <label for="Email">Email<span style="color: red;">*</span>: <span style="color: orange;">(use emails ending at '@sandvine.com')</span></label>
            <input type="text" class="form-control" name='email' maxlength="20" placeholder="example@sandvine.com">
        </div>
        <div class="form-group">
            <label for="password">password<span style="color: red;">*</span>:</label>
            <input type="password" class="form-control" name='pass' maxlength="30" minlength="5">
        </div>
        <div class="form-group">
            <label for="tel">Phone<span style="color: red;">*</span>:</label>
            <input type="tel" class="form-control" name='tel' maxlength="10" minlength="10">
        </div>
        
        <!-- <input type="submit"> -->
    </form>
    <div>
        <button class="btn btn-success">
            Register
        </button>
    </div>
    <div class="alert alert-danger" style="display:none">Oops... this email is not registered.</div>
            
    <div class="alert alert-success" style="display:none">correct email</div>

   
        <div class='form-group'>
            <p> or already have an account?</p>
            <button class="btn btn-success login">
                Login
            </button>
        </div>
    
</div>

<script>
    const login = document.getElementsByClassName('login')[0];
    console.log(login);
    login.addEventListener('click',()=>{
        if(String(sessionStorage.getItem('status')) == "null")
        {
            console.log(typeof sessionStorage.getItem('status'), 'badhasbjdbajkbsahbdhsabdjkasnxjkasnj');
            window.location.href = '/login';
        }
        else{
            console.log('redirect');
            window.location.href = sessionStorage.getItem('redirect');
        }
    });

    function triggerAlert(data){
        document.getElementsByClassName('alert-success')[0].style.display = "none";
        
        document.getElementsByClassName('alert-danger')[0].style.display = "";
        document.getElementsByClassName('alert-danger')[0].innerText = data;
        setTimeout(()=>{
                    document.getElementsByClassName('alert-danger')[0].style.display = "none";
        
        }, 3000);
                
    }
    
    const reg=document.getElementsByClassName('btn-success')[0];
    
    function validation(){
            var fn=true, ln=true, e=true, r=true, p=true, t=true, p = true;
            var email=String(document.getElementsByName('email')[0].value);
            var index = email.indexOf('@');
            
             if(document.getElementsByName('fname')[0].value.trim() == "" )
                {
                    fn = false;
                   
                        triggerAlert("FisrtName Can't be empty");
                    
                }

            else if(document.getElementsByName('lname')[0].value.trim() == "" )
                {
                    ln = false;
                    
                        triggerAlert("LastName Can't be empty");
                   
                }
            else  if(document.getElementsByName('rollno')[0].value.trim() == "" )
            {
                r = false;
                
                    triggerAlert("roll no can't be empty");
                
            }
            else if(document.getElementsByName('email')[0].value.trim() == "" )
                {
                    e = false;
                
                        triggerAlert("email can't be empty");
                    
                }
            else if(email.slice(index, email.length) != "@sandvine.com")
                {
                    e = false;
                    console.log(email.slice(index, email.length-1));
                   
                   triggerAlert('Please use sandinve email id');
                    
                }
            else if(document.getElementsByName('pass')[0].value.trim().length < 5)
            {
                p = false;
                triggerAlert('password should be atleast 5 characters long');
                
            }
            
           
                console.log(1);
            if(fn && ln && e && t && r && p)
            return  true;
            else return false;
            
        }
      
     httprequest  = function(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", `/check`, false);
            const formdata = {
                email:document.getElementsByName('email')[0].value,
                pass: document.getElementsByName('pass')[0].value,
            } 
            xhttp.setRequestHeader('data', JSON.stringify(formdata));
            xhttp.send();
            var data = JSON.parse(xhttp.responseText);
            console.log(data.email);
            console.log('end');
            if(data.email == true)
            {
                triggerAlert("user already exists");
                return false;
            }
            else return true;
            console.log(1);
            
    }
    reg.addEventListener('click',()=>{
            var x = validation();
            var y = false;
            if(x==true)
                 y = httprequest();
            console.log('out of fun');
            console.log('x:',x , 'y:', y);
            if(x && y)
            {       console.log('enter')
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", '/', true);
                    const formdata = {
                        email:document.getElementsByName('email')[0].value,
                        pass: document.getElementsByName('pass')[0].value,
                        fname: document.getElementsByName('fname')[0].value,
                        lname: document.getElementsByName('lname')[0].value,
                        rollno: document.getElementsByName('rollno')[0].value,
                        tel: document.getElementsByName('tel')[0].value,
                    } 
                    xhttp.onreadystatechange=function(){
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementsByClassName('alert-success')[0].style.display = "";
                            document.getElementsByClassName('alert-danger')[0].style.display = "none";
                            document.getElementsByClassName('alert-success')[0].innerText = "Registration Successful Redirecting to login page";
                            setTimeout(()=>{
                                window.location.href = JSON.parse(this.responseText).redirect;
                            },3000);
                        }

                    };
                    xhttp.setRequestHeader('data', JSON.stringify(formdata));
                    xhttp.send();
            }

           
            },false);
            
    
    
</script>