<div class="col-xs-12 col-md-6">
    <form action="/user" method="GET">
        
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" class="form-control" name='email'>
        </div>
        <div class="form-group">
            <label for="tel">Password:</label>
            <input type="password" class="form-control" name='pass'>
        </div>
        <div>
            <button class="btn btn-success">
                Login
            </button>
        </div>
    </form>
    
</div>