<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="container-fluid cont ">

            <%- include('partials/nav.ejs') %>  

            <div class="container-fluid back">
                <div class="container main-cont hidden-sm hidden-xs ">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 xyz jumbotron ">
                            <!-- <div class="jumbotron"> -->
                            <!-- <div class="panel panel-title"> -->
                                <h2 >About</h2>
                            <!-- </div> -->
                                <p>
                                   This portal is made for students and companies that are visiting ow willing to visit IIT BBS campus placements.
                                </p>
                            
                        </div>
                        
                        <%- include('partials/form.ejs') %>

                    </div>
                </div>
            </div>
    </div>
      

    
</body>
</html>